<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Marco</title>
        <style type="text/css">
         #canvas {
             border: 1px solid black;
         }
        </style>
    </head>
    <body>
        <canvas width="400" height="300" id="canvas"></canvas>
        <div id="buttons">
            <label for="edit_button">Edit</label>
            <input type="radio" id="edit_button" name="tool" value="edit" checked="checked" />
            <label for="draw_button">Draw</label>
            <input type="radio" id="draw_button" name="tool" value="draw" />
            <label for="text_button">Text</label>
            <input type="radio" id="text_button" name="tool" value="text" />
            <br />
            <label for="image_field">Upload background image: </label>
            <input type="file" id="file_button" name="image_file" accept="image/*" />
        </div>
        <script type="text/javascript" src="bundle.js"></script></body>
</html>
